@import "../../common.scss";

.Content {
	margin-top: $nav_height;
	width: 100%;
	z-index: 1;
	background-color: $dark_black_1;

	> section {
		position: relative;
		width: 100%;

		$right: calc((100% - #{$content_width}) / 2);
		$bottom: 150px;
		padding: $bottom $right;

		* {
			position: relative;
			z-index: 2;
		}

		p.error {
			color: $error_red;
			font-size: 13px;
			position: absolute;
			width: 100%;
			padding-top: 10px;
		}

		> .nft {
			position: absolute;
			right: calc(#{$right} + 135px);
			top: calc(#{$bottom} + 1450px);
			animation: appear 0.2s ease-out;

			&.position {
				transform: translateY(-330px);
			}
		}

		> .confirm {
			width: 100%;
			text-align: center;
			margin-top: $bottom;

			&.hidden {
				display: none;
			}

			> p.text {
				line-height: 1.5;
				font-family: "Luckiest Guy", cursive;
				letter-spacing: 2px;
				margin-bottom: 20px;
			}

			> .Button {
				font-weight: bold;
			}
		}

		> p {
			font-size: 20px;
		}

		> div.background {
			position: absolute;
			z-index: 1;
			background-position: center;
			background-size: cover;
			width: 100%;
			left: 0;
			top: 0;
		}

		&.introduction {
			$height: 750px;
			height: $height;

			> .background {
				background-image: url("../../assets/background_4.webp");
				height: $height;

				&.reflection {
					top: 750px;
					transform: rotatex(180deg);
					background-image: linear-gradient(
							to top,
							rgba(24, 25, 28, 0.7) 0%,
							rgba(24, 25, 28, 1) 20%
						),
						url("../../assets/background_4.webp");
					background-position: center;
					background-size: cover;
				}
			}

			> p {
				line-height: 1.4;
				margin: 10px 0 30px;
			}

			> button + button {
				margin-left: 10px;
			}

			> img:last-child {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				animation: bounce 1s infinite ease-in-out;
				cursor: pointer;
			}
		}

		&.progress {
			$height: unset;
			height: $height;

			> h2 {
				margin-bottom: 50px;

				&.disabled {
					opacity: 0.2;
				}
			}

			> p {
				line-height: 1.5;
				font-size: 16px;
				margin: 5px 0 50px;
			}

			> .background {
				// background-color: $dark_black_1;
				background-image: url("../../assets/background_1.webp");
				height: $height;
			}

			> .scroll_position {
				position: absolute;
				top: calc(0px - #{$nav_height});
			}

			> div.step {
				position: relative;
				padding-bottom: 85px;

				&.last {
					padding-bottom: 0;
				}

				$circle_size: 60px;
				$circle_margin: 20px;

				> div.line {
					position: absolute;
					width: 0;
					top: $circle_size;
					bottom: 0;
					left: calc(#{$circle_size} / 2);
					border-left-width: 1px;
					border-left-style: dashed;
					border-left-color: $white;
				}

				> div.title {
					font-size: 30px;
					color: $white;

					> * {
						vertical-align: middle;
					}

					> div.circle {
						display: inline-flex;
						justify-content: center;
						align-items: center;
						width: $circle_size;
						height: $circle_size;
						border-width: 1px;
						border-style: dashed;
						border-color: $white;
						border-radius: $circle_size;
						margin-right: $circle_margin;
					}

					> img {
						position: relative;
						bottom: 2px;
						margin-left: 15px;
						@include button_action();

						&:last-child {
							margin-left: 10px;
						}
					}
				}

				> div.form {
					padding-left: calc(#{$circle_size} + #{$circle_margin});

					> p {
						margin-bottom: 20px;
						line-height: 1.4;
					}

					> .Input,
					> .Button {
						vertical-align: middle;
					}

					> .Input + .Button,
					> .Button + .Button {
						margin-left: 10px;
					}

					> div.list {
						$bottom: 15px;
						font-size: 0;
						padding-bottom: $bottom;
						position: relative;

						> img {
							border: 1px solid rgba($color: $mint_light, $alpha: 0);
							$size: 200px;
							width: $size;
							height: $size;
							padding: 5px;
							border-radius: 3px;
							cursor: pointer;
							opacity: 0.4;
							transition: 0.1s;

							&.selected {
								border: 1px solid $mint_light;
								opacity: 1;
							}

							&:hover {
								opacity: 1;
							}

							&:not(:first-child) {
								margin-left: 7px;
							}
						}

						> p.error {
							bottom: calc(0px - #{$button_height} - 10px);
							transform: translateY(100%);
							padding-top: 0;
						}
					}

					> div.information {
						width: 100%;
						margin-bottom: 20px;

						> div.box {
							display: inline-block;
							border: 1px solid $mint_light;
							border-radius: 3px;
							padding: 20px;

							> p {
								font-size: 16px;
								line-height: 1.5;
								font-weight: 500;
							}

							> ol {
								margin: 10px 0 0;
								padding: 0 0 0 30px;

								> li {
									font-size: 14px;
									color: $white;

									&:not(:last-of-type) {
										margin-bottom: 7px;
									}
								}
							}
						}
					}
				}

				&:not(.highlight):not(.completed) {
					opacity: 0.2;
					pointer-events: none;
				}

				&.highlight {
					> div.line {
						opacity: 0.2;
						border-left-style: dashed;
						border-left-color: $white;
					}

					> div.title {
						color: $mint_light;
						font-weight: bold;

						> .circle {
							border-style: solid;
							border-color: $mint_light;
							font-weight: 500;
							border-width: 3px;
						}
					}
				}

				&.completed {
					> div.line {
						border-left-style: solid;
					}

					> div.title {
						font-weight: 500;

						> .circle {
							border-style: solid;
						}
					}

					> div.form {
						> p,
						> .Button:disabled,
						> .Input,
						> div.list > img,
						> div.information {
							opacity: 0.2;
						}

						> .Button + .Button {
							margin-left: 10px;
						}

						> div.list {
							> img {
								pointer-events: none;
							}
						}
					}
				}
			}
		}
	}
}
