@import "../common.scss";

.Input {
    display: inline-block;
    height: 60px;
    width: 500px;

    &,
    * {
        transition: 0.15s;
    }        

    &.disabled {
        &,
        * {
            pointer-events: none;
        }
    }

    >div.decorator {
        $radius: 3px;

        position: absolute;
        background-color: $dark_black_2;
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: $radius;

        >div.border {
            &.left {
                border-top-left-radius: $radius;
                border-bottom-left-radius: $radius;
                width: 20px;
            }

            &.bottom {
                font-size: 0;

                >div.label {
                    display: inline-block;
                    font-weight: 500;
                    color: $grey_1;
                    font-size: 16px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &.right {
                flex: 1;
                border-top-right-radius: $radius;
                border-bottom-right-radius: $radius;
            }
        }
    }

    >input {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        outline: none;
        border: none;
        background-color: unset;
        color: $white;
        font-weight: 700;
        font-size: 16px;

        &.invisible {
            display: none;
        }
    }

    >p {
        position: absolute;
        bottom: 0;

        color: $error_red;
        padding-top: 10px;
        font-size: 13px;
        transform: translateY(100%);
    }

    &:not(.focused) {
        cursor: pointer;

        &.error {
            >div.decorator {
                border: 1px solid $error_red;
    
                >div.border {
                    >div.border {
                        $border: 1px solid $error_red;
        
                        &.left {
                            border: $border;
                            border-right: unset;
                        }
        
                        &.bottom {
                            border-top: $border;
                            border-bottom: $border;
        
                            >div.label {
                                color: $error_red;
                            }
                        }
        
                        &.right {
                            border: $border;
                            border-left: unset;
                        }
                    }
                }
            }
        }
    }

    &.focused {
        >div.decorator {
            background-color: unset;

            >div.border {
                $border: 1px solid $mint_light;

                &.left {
                    width: 10px;
                    border: $border;
                    border-right: unset;
                }

                &.bottom {
                    border-bottom: $border;

                    >div.label {
                        color: $mint_light;
                        font-size: 12px;
                        padding: 0 10px;
                        top: 0;
                    }
                }

                &.right {
                    border: $border;
                    border-left: unset;
                }
            }
        }

        &.error {
            >div.decorator {
                background-color: unset;
    
                >div.border {
                    $border: 1px solid $error_red;
    
                    &.left {
                        border: $border;
                        border-right: unset;
                    }
    
                    &.bottom {
                        border-bottom: $border;
    
                        >div.label {
                            color: $error_red;
                            font-size: 12px;
                        }
                    }
    
                    &.right {
                        border: $border;
                        border-left: unset;
                    }
                }
            }
        }
    }
}